<main>
	<ngx-spinner
		bdColor="rgba(51,51,51,0.8)"
		color="#fff"
		size="medium"
		type="ball-scale-multiple">
		<p style="font-size: 20px; color: white">{{'COMMON.LOADING' | translate}}</p>
	</ngx-spinner>

	<h1>{{'COMMON.LOADING' | translate}}</h1>

</main>
